/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1200px){
	body{
		font-size: 18px;
	}
	.section_title{
		font-size: 30px;
	}
	.section_title:before{
		left: -70px;
		top: 18px;
		width: 60px;
	}
	.page_header{
		min-height: 124px;
	}
	.site_logo_header{
		width: 145px;
	}
	.logo_title{
		font-size: 16px;
	}
	.description_title{
		font-size: 20px;
		width: 190px;
		margin: 20px auto 0;
	}
	.phone_header{
		margin-top: 25px;
		margin-right: 20px;
		font-size: 20px;
		text-align: right;
	}
	.callback_header{
		width: 215px;
		height: 34px;
		font-size: 16px;
		float: right;
	}
	.offer{
		min-height: 454px;
		background: url("../img/offer_nailpolish_bg_750.png") left bottom no-repeat,
		url("../img/offer_face_bg_750.png") right top no-repeat;
	}
	.crossline:before, .crossline:after{
		width: 80px;
		left:	-4px;
		top: 23px;
	}
	.newprice{
		transform: translate(-120px, 40px);
		font-size: 30px;
		width: 200px;
	}
	.newprice span{
		font-size: 20px;
	}
	.offer_list{
		line-height: 43px;
		padding-top: 40px;
	}
	.offer_list li{
		background: url("../img/offer_list_li_750.png") no-repeat left center;
		padding-left: 60px;
	}
	.royal{
		min-height: 580px;
		background: url(../img/royal_nailpolish_bg_750.png) calc(50% + 385px) calc(100% + 63px) no-repeat,
		url("../img/royal_bg.png") center top no-repeat;
	}
	.royal_title{
		margin-top: 60px;
	}
	.royal_img{
		width: 218px;
		float: right;
	}
	.royal_invent{
		font-size: 20px;
		margin-left: -60%;
		padding: 60px 100px 0;
		text-align: center;
	}

	.signup_bg{
		background: #e8e7ee url(../img/royal_nailpolish_bg_750.png) calc(50% + 385px) -162px no-repeat;
	}
	.signup_form_tel{
		width: 280px;
		margin: 0 0 20px 0;
	}
	.signup_form_submit{
		width: 280px;
		font-size: 14px;
	}

	.likeit{
		min-height: 646px;
		background: url("../img/likeit_nailpolish_bg.png") calc(50% - 550px) bottom no-repeat,
		url("../img/likeit_bg.png") calc(50% + 565px) bottom no-repeat;	
	}
	.likeit_list_caption{
		font-size: 20px;
		text-transform: none;
	}
	.likeit_list li{
		background: url("../img/offer_list_li.png") no-repeat left top;
		padding: 0 0 20px 70px;
	}

	.price{
		min-height: 960px;
		padding-bottom: 140px;
	}
	.section_title.price_title{
		margin-top: 60px;
		width: 100%;
	}
	.price_list{
		text-align: center;
	}
	.works_carousel_title{
		font-size: 24px;
	}
	.works_carousel{
		width:600px;
		height: 300px;
		margin: 80px auto 0;
	}
	.works_carousel img{
		width: 300px;
	}
	.carousel_controls{
		position: relative;
		width: 180px;
		margin: 80px auto 0;
	}

	.page_footer{
		min-height: 200px;
	}
	.site_logo_footer{
		width: 124px;
	}
	.logo_title_footer{
		font-size: 16px;
	}
	.reg_info{
		font-size: 16px;
	}
	.privacy_policy{
		font-size: 16px;
		text-align: center;
		margin-top: 150px;
	}
	.phone_footer{
		font-size: 20px;
		margin: 110px 0 10px;
	}
	.callback_header{
		font-size: 16px;
	}
}

@media only screen and (max-width : 768px){
	body{
		font-size: 16px;
	}
	.section_title{
		font-size: 20px;
		padding: 0 36px;
		width: 220px;
	}
	.section_title:before{
		left: -10px;
		top: 12px;
		width: 40px;
	}
	.page_header{
		min-height: 200px;
	}
	.site_logo_header{
		width: 175px;
	}
	.description_title{
		display: none;
	}
	.phone_header{
		font-size: 24px;
		text-align: center;
		padding-top: 6px;
		background-color: rgb(235, 66, 109);
		box-shadow: 0px 5px 16px 4px rgba(0, 1, 2, 0.25);
		width: 245px;
		height: 39px;
		margin: 20px auto 0;
		border-radius: 20px;
		border: none;
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		text-shadow: 0px -1px #a5022b;
	}
	.callback_header{
		display: none;
	}
	.offer{
		min-height: 500px;
		background: url(../img/offer_face_bg_320.png) right top no-repeat;
	}
	.crossline:before, .crossline:after{
		width: 60px;
		left:	-4px;
		top: 17px;
	}
	.newprice{
		transform: translate(-40px, 30px);
		font-size: 30px;
		width: 200px;
	}
	.newprice span{
		font-size: 16px;
	}
	.offer_list{
		line-height: 1.2;
		padding: 60px 36px 0;
	}
	.offer_list li{
		line-height: auto;
		background: url("../img/offer_list_li_750.png") no-repeat left top;
		padding: 10px 0 10px 50px;
	}

	.royal{
		background:	url("../img/royal_bg.png") center top no-repeat;
		min-height: 620px;
		padding-bottom: 40px;
	}
	.royal_title{
		width: auto;
	}
	.royal_img{
		width: 300px;
		margin: 0 auto;
		display: block;
		float: none;
	}
	.royal_invent{
		margin-left: 0;
		padding: 0;
	}

	.signup_bg{
		background: #e8e7ee;
	}

	.likeit{
		min-height: 646px;
		background: none;
	}
	.likeit_list_caption{
		font-size: 18px;
	}
	.works_carousel_box{
		width: 100%;
		overflow-x: hidden;
	}
	.works_carousel{
		width:200px;
		height: 280px;
		margin: 40px auto 0;
	}
	.works_carousel img{
		width: 200px;
	}
	.carousel_controls{
		position: relative;
		width: 180px;
		margin: 40px auto 0;
	}
	.price_list{
		column-count: 1;
	}

	.address{
		background: none;
		min-height: 300px;
		padding-bottom: 40px;
	}
	.address_title{
		width: 100%;
	}

	.page_footer{
		min-height: 330px;
	}
	.site_logo_footer{
		width: 160px;
		display: block;
		margin: 0 auto;
	}
	.logo_title_footer{
		text-align: center;
	}
	.reg_info{
		text-align: center;
	}
	.privacy_policy{
		text-align: center;
		margin-top: 30px;
	}
	.phone_footer{
		font-size: 20px;
		margin: 30px auto 0;
	}
	.phone_footer{
		font-size: 24px;
		text-align: center;
		padding-top: 6px;
		background-color: rgb(235, 66, 109);
		box-shadow: 0px 5px 16px 4px rgba(0, 1, 2, 0.25);
		width: 245px;
		height: 39px;
		margin: 20px auto 0;
		border-radius: 20px;
		border: none;
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		text-shadow: 0px -1px #a5022b;
	}
}